@charset "UTF-8";
/* CSS Document */

body { 
margin: 0; 
padding: 0; 
background: #ffffff;  /* white */
}

p { font-size: 1em; line-height: 1.2em; padding: 0 0 5px 0; margin: 0; }
h1 {	font-size: 1.8em;	color: #333333;	padding: 0 0 5px 0;	margin: 0;}
h2 {	font-size: 1.5em;	color: #333333;	font-weight: normal;	margin: 0;	padding-top: 5px;	padding-right: 0;	padding-bottom: 5px;	padding-left: 0;}
h3 {
	font-size: 1.4em;
	font-family: Georgia;
	font-style:italic;
	color: #333333;
	padding: 10px 0 2px 0;
	margin: 0;
	line-height: 1.4em;
}
h4 {
	font-size: 1.2em;
	color: #333333;
	padding: 10px 0 2px 0;
	margin: 0;
}
h5 {
	font-size: 1em;
	color: #333333;
	letter-spacing: 1px;
	font-weight: normal;
	padding: 7px 0 2px 0;
	margin: 0;
}
h6 {
	font-size: 1em;
	color: #FFFFFF;
	font-weight: normal;
	padding: 10px 0 2px 0;
	margin: 0;
}

a:link {	text-decoration: none;	color:#666666;}
a:visited {	text-decoration: none;	color:#333333;}
a:hover {	text-decoration: underline;	color:#333333;}
a:active {	text-decoration: underline;	color:#333333;}

form { padding: 0 0 10px 0; margin: 0; }
input { padding: 0; margin: 0; }


/* ------- Layout ------- */

#wrapper {
width: 940px;
margin-left: auto;
margin-right: auto;
padding: 0;
font-family: Helvetica;
font-size: 68.75%;
text-align: left;
}

#title {
	padding: 0;
	margin: 0;
	height: 100px;
	width: 940px;
	background-image: url("../images/web_title.jpg");
}

#title h1 {
	float: none;
	font-size: 34px;
	color: #FFFFFF;
	font-weight:bold;
	font-style:italic;
	margin-right: 0px;
	margin-bottom: 0;
	padding-bottom: 0;
	position: relative;
	right: 0px;
	margin-left: 250px;
	clear: none;
	width: 940px;
	height: 35px;
	padding-top: 55px;
}

#title2 {
	padding: 0;
	height: 70px;
	width: 100%;
	background-color: #332233; /* #5f692d; */
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 0;
}
#title2 h1 {
	font-size: 32px;
	color: #FFFFFF;
	font-weight: normal;
	position: absolute;
	margin-left: 40px;
	padding-top: 30px;
}

#breadcrumbs {	color: #EBEAE8;	padding-bottom: 10px;}
#breadcrumbs a:link {	color: #000000;}

#sidebar-feature {
	clear: both;
	background: url("../old%20web%20site/media/images/feature-bkgd-rpt.gif") repeat;
	background-color: #5f692d;
	width: 210px;
	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 40px;
}

.content-feature {
	width: 100%;
	height: 100%;
	background: url("../old%20web%20site/media/images/content-feature-rpt.gif") repeat-y;
	margin-bottom: 50px;
}

.featurewrap {
	padding: 5px 20px 10px 20px;
	color: #000000;
}

.featurewrap a:link { color: #373b27; text-decoration: underline;
    font-size: x-small;
}
.featurewrap a:visited { color: #373b27; text-decoration: underline; font-size: x-small;}
.featurewrap a:hover { color: #666e43; text-decoration: underline; font-size: x-small;}
.featurewrap a:active { color: #666e43; text-decoration: underline; font-size: x-small;}

.featurewrap li {
list-style-image: url("../old%20web%20site/media/images/bullet.gif");
padding-top: 0;
padding-bottom: 5px;
}

.featurewrap ul {
padding-left: 15px;
margin-left: 0;
margin-top: 0;
margin-bottom: 0;
}

.featurewrap img {
float: right;
margin: 5px 0 10px 10px;
}

#extra {
padding: 20px 0 0 0;
    width: 200bpx;
}

.extra-feature {
	background-color: #ffffff;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}

.gallery img {
margin-right: 5px;
margin-bottom: 3px;
}

#map {
width: 198px; 
height: 298px;
position: relative;
z-index: -1;
}

.indent { width: 185px; margin-left: 15px; }

/* ------- Sidebar -------*/
#sidebarwrap {
	position: absolute;
	width: 200px; /*--This sets the WIDTH of the menu BACKGROUND-*/
	z-index: 11000;
	background-color: #0B0B3D;  /*--#0b3b53;-*/
}

#sidebar, #sidebar ul {
float: left;
list-style: none;
text-align: left;
padding: 10px 0;
margin: 0;
width: 200px;
}

#sidebar h1 {
	display: block;
	width: 180px;
	color: #ffffff;  /*--This sets the COLOR of the first layer menu TEXT--*/
	text-decoration: none;
	font-size: 1.2em;
	padding: 5px 0 5px 20px;	
}

#sidebar h1 a { 
	display: block;
	width: 180px;
	color: #ffffff;
	text-decoration: inherit;
	padding: 0px 0px 0px 0px;
}

#sidebar a {
	display: block;
	width: 180px; /*--This sets the WIDTH of the first layer menu TEXT--*/
	color: #ffffff;  /*--This sets the COLOR of the first layer menu TEXT--*/
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2em;
	padding: 5px 0 5px 20px;
}

#sidebar li {
position: relative;
width: 200px; /*--This sets the WIDTH of the first layer menu HOVER-*/
float: left;
line-height: 1em; /*--This sets the HEIGHT of first layer menu items-*/
padding: 5px 0;
margin: 0;
}

#sidebar li ul {
position: absolute;
left: -999em;
margin-left: 200px; /*--Set this to match WIDTH of the first layer menu HOVER-*/
margin-right: 0;
top: 0;
padding: 5px;
width: 180px; /*--This sets the WIDTH of the second layer menu HOVER-*/
font-weight: normal;
background: #19196F;  /*--This sets the COLOR of the second layer menu BACKGROUND--*/
}

#sidebar li li {
text-align: left;
margin: 0;
line-height: 1.5em;
width: 180px; /*--This sets the WIDTH of the second layer menu BACKGROUND--*/
padding: 0;
border-bottom: none;
}

#sidebar li ul a {
font-size: 1em;
width: 150px; /*--This sets the WIDTH of the second layer menu TEXT--*/
padding: 3px 10px;
}

#sidebar li:hover ul, #sidebar li li:hover ul, #sidebar li.sfhovers ul, #sidebar li li.sfhovers ul {
left: auto;
}

#sidebar li:hover, #sidebar li.sfhovers {
background: #19196F;  /*--This sets the COLOR of the first layer menu HOVER--*/
}

#sidebar li li:hover, #sidebar li li.sfhovers {
background: #dfe5e6;  /*--This sets the COLOR of the second layer menu HOVER--*/
}

#sidebar li li:hover a, #sidebar li li.sfhovers a {
color: #0e3e6e; !important 
}




#projects li {
position: relative;
width: 185px;
padding: 0;
color: #666e43;
border-bottom: none; 
}

#projects li:hover {background: none;}

#projects a {
margin-left: 10px;
width: 180px;
font-size: .9em;
}

#projects a:link { color: #666e43;}
#projects a:visited { color: #666e43}
#projects a:hover { color: #666e43;}
#projects a:active { color: #666e43;}



/* ------- Content -------*/
#content {
margin: 20px;
padding: 0;
width: 450px;
}

#content ul {
list-style-image: url("../old%20web%20site/media/images/bullet.gif");
padding: 0 0 5px 20px;
margin-top: 5px;
margin-bottom: 0;
}

#content li {
padding-top: 2px;
padding-bottom: 2px;
line-height: 1.5em;
}

#content p {
line-height: 1.5em;
text-align:justify;
}

#content img {margin-bottom: 10px;}

.numbers {
font-style: normal;
font-weight: normal;
color: #000000;
}

#projectdescrip h2 { padding: 20px 0 5px 0; border-top: 1px solid #666e43; margin-top: 20px;}
#projectdescrip h4 { padding: 2px 0 2px 0; line-height: 1.2em;}


#column1 {
	border-left: 1px solid #5F692D;
    border-right: 1px solid #5F692D;
width: 147px;
	    background-color: #f4f0e5;
	    margin-left: 20px;
	    height: 170px;
	}
#column2 {
	width: 160px;
	background-color: #f4f0e5;
	margin-left: 20px;
	height: 170px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #5F692D;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #5F692D;
}
#column3 {
	width: 160px;
	margin-left: 20px;
	height: 170px;
	background-color: #f4f0e5;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #5F692D;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #5F692D;
}

#breadcrumbs2 {
	position: relative;
	left: 0px;
	top: 10px;
	color: #EBEAE8;
	width: 450px;
	padding-left: 10px;
}
#breadcrumbs2 a:link {
	color: #000000;
}
#DeptFaculty {
	background-color: #5F692D;
	padding-left: 10px;
}
#DeptFaculty h1 {
	font-family: Helvetica, sans-serif;
	font-size: 1.8em;
	color: #FFFFFF;
}
#marginProfile {
	width: 450px;
	padding: 10px;
}
#profileContent {
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#profileContent img {
	margin-bottom: 5px;
	background-image: none;
	margin-top: 20px;
}
#Faculty_Nav {
	height: 75px;
	background-color: #FFFFFF;
	margin-bottom: 20px;
	margin-top: 42px;
}
#faculty_anchor {
	float: left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #5F692D;
	padding-right: 10px;
	padding-left: 10px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #5F692D;
}
.faculty_styling {
	float: left;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #5F692D;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
}
.faculty_styling_endcap {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #5F692D;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #5F692D;
}
