body {
  font: normal 18px "Times New Roman", Times, serif;
}

h1 {
  font: normal 22px "Times New Roman", Times, serif;
}

h2 {
  font: bold 20px "Times New Roman", Times, serif;
}

h3 {
  font: bold 18px "Times New Roman", Times, serif;
}
